:root {
    --color-primary: #1a5fd2;
    --color-secondary: #4ea4d4;
    --color-danger: #EA6A5A;
    --color-success: #36c46e;
    --color-warning: #e3d244;
    --color-dark: #555353;
    --color-light: #d7e1e7;
}