* {
    font-family: "Nunito Sans", "Segoe UI", arial;
    font-weight: 600;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

aside {
    height: 100vh;
    width: 250px;
    background: #ffffff;
    padding-top: 20px;
    color: #484b50;
    font-size: 14px;
}

.sidebar > .sidebar-item > a {
    color: #939393;
    font-weight: lighter;
}

.sidebar-item-link:hover {
    background: #f8f8f8;
}

.sidebar-item-link {
    display: block;
    padding: 12px 30px;
    cursor: pointer;
    color: #3773f1;
}

.sidebar-item-link > i {
    margin-right: 22px;
}

.sidebar-dropdown > li {
    color: #939393;
}

.sidebar-dropdown > li > a {
    display: block;
    padding: 10px 0 10px 73px;
    cursor: pointer;
    font-size: 12px;
}

.sidebar-dropdown > li > a:hover {
    background: #f8f8f8;
}

.sidebar > .sidebar-item > .active {
    color: #0da8ee;
}

.sidebar-header {
    margin-left: 14px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 12px;
    color: #a0a2a7;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

.has-dropdown {
    position: relative;
}